body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1888c7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  padding-inline: 10%;
  background-color: #1888c7;
}
.main-div {
  display: grid;
}
.card-compenet {
  margin-top: 10%;
}
.card-compenet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

iframe {
  border: none;
}

.card-item {
  height: 100%;

  background-color: aliceblue;
  display: flex;
  flex-direction: column;

  border-radius: 5%;
}

.img-section {
  height: 75%;
  overflow: hidden;
}
.img-section img {
  width: 100%;
  height: 100%;
  border-radius: 5% 5% 0 0;
}
.title {
  height: 25%;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;

  overflow: hidden;
}

.btn-load {
  margin: 10px;
  padding: 10px;
  background-color: #1888c7;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/*  */
.input-container {
  position: relative;
  margin: 20px auto;
  width: 80vw;
}
.navbar {
  position: fixed;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: #67b2dd;
  border: 2px white solid;
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
  color: antiquewhite;
}

.input-container button {
  position: absolute;

  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  right: -20px;
  padding: 13px;
}

@media screen and (max-width: 1200px) {
  .App {
    padding-inline: 5%;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding-inline: 3%;
  }
  .card-compenet {
    margin: 15%;
  }
}